.home-container {
  color: white;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.home-background {
  background-image: url("https://i.postimg.cc/4ynsG6t9/pexels-photo-1527603.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.home-content {
  margin-top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-bottom: auto;
  position: absolute;
  z-index: 9;
}
.home-main-title {
  text-align: center;
  font-size: 70px;
}

.home-second-title {
  text-align: center;
}
