.Main {
  color: black;
}
.imageBurger {
  align-items: center;
  background-image: url("https://images.pexels.com/photos/2015097/pexels-photo-2015097.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  width: 40%;
  height: 630px;
  float: left;
}
.imageCool {
  align-items: center;
  background-image: url("https://images.pexels.com/photos/1639563/pexels-photo-1639563.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  height: 630px;
  width: 60%;
  float: right;
}
