.restaurant-list-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.restaurant-list {
  background-color: #dce0df;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  transition: transform 0.2s;
  width: 45%;
}
.restaurant-list:hover {
  transform: scale(1.05);
}

.image_description-container {
  display: flex;
  justify-content: space-between;
  background-color: #15273f;
}
.restaurant-image {
  background-position: center;
  background-size: contain;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  margin-bottom: auto;
  margin-top: auto;
  height: 200px;
  width: 45%;
}
.restaurant-description {
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  width: 45%;
}
.restaurant-name {
  font-size: 20px;
  color: #000;
}

.restaurant-details-container {
  font-size: 15px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.restaurant-details {
  display: flex;
}

.address-container {
  display: flex;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.restaurant-hours {
  display: inline-block;
  margin-top: -2rem;
}

.bold-text {
  font-weight: bold;
  margin-right: 5px;
}

.flex-bold-text {
  font-weight: bold;
  display: flex;
}

.status {
  color: green;
  margin-left: 5px;
}

.buttons-container {
  display: flex;
  margin-top: 2rem;
}

.button-element {
  border-radius: 10px;
  color: #fff;
  background-color: #15273f;
  border-width: 0;
  margin-right: 5px;
  padding: 10px;
}
