.restaurant-list-container {
  display: flex;
  background-color: #dce0df;
}
.restaurant-image {
  background-position: center;
  background-size: contain;
  margin-bottom: auto;
  margin-top: auto;
  height: 250px;
  width: 300px;
}
.restaurant-name {
  color: #000;
}

.restaurant-details-container {
  padding-bottom: 0px;
  padding-left: 10px;
  padding-top: 0px;
}

.restaurant-details {
  display: flex;
  justify-content: space-around;
}

.address-container {
  display: flex;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.restaurant-hours {
  display: inline-block;
  margin-right: -40rem;
  margin-top: -2rem;
  font-size: 14px;
}

.bold-text {
  font-weight: bold;
  margin-right: 5px;
}

.flex-bold-text {
  font-weight: bold;
  display: flex;
}

.status {
  color: green;
  margin-left: 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-top: 2rem;
}

.button-element {
  border-radius: 10px;
  color: #fff;
  background-color: #15273f;
  border-width: 0;
  padding: 10px;
}
