#infoArea {
  background-color: #d5d5d5;
  align-items: center;
  color: #000;
  display: flex;
  font-size: 23px;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
}

.safety-note {
  border-right: 1px solid;
  display: flex;
  justify-content: center;
  position: relative;
  width: 33%;
}

.green_note {
  color: green;
  margin-left: 0.5rem;
}
.orange_note {
  color: orange;
  margin-left: 0.5rem;
}
.red_note {
  color: red;
  margin-left: 0.5rem;
}

.info-time-container {
  border-right: 1px solid;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 33%;
}

.info-weather {
  justify-content: center;
  text-align: center;
  display: flex;
  width: 33%;
}
.info-weather-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}
.info-weather-type {
  align-items: center;
  display: flex;
  font-size: 17px;
  margin-left: 5px;
  text-transform: capitalize;
}
